{% extends "layout.njk" %}

{% block head %}

    <title>Cursos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}

        <div class="cards">
        {% for item in items %}
            <div id="{{item.id}}" class="card">
                <img src="{{item.logo}}" alt="Logo do Curso Starter">
                <h1>{{item.title}}</h1>
                <div class="card-info {{ 'featured-card' if item.featured }}">
                    <h2>{{item.duration}}</h2>
                    <p>{{item.price}}</p>
                    {% if (item.featured) %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="/scripts.js"></script>

        
{% endblock %}