@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root{
    --color-rocket: #7159c1;
    --primary-color: #fd951f;
    --secondary-color: #1fd4fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

.main {
    max-width: 940px;
    margin: 0 auto;
    color: #111111;
}
header {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    margin: 36px auto 30px auto;
    align-items: center;
}

.menu a{
    font-size: 16px;
    text-decoration: none;
    padding-right: 30px;
    color: #111111;
}
.menu a.active, .menu a:hover{
    font-weight: 700;
}
.main-content {
    margin-bottom: 50px;
}
.feature {
    background: url('assets/chef.png') #FBDFDB no-repeat bottom right 100px;
    border-radius: 30px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}
h1 {
    font-size: 32px;
    line-height: 38px;
}
.feature h1{
    margin-bottom: 10px;
    padding-top: 117px;
    padding-left: 60px;
}
.feature p{
    opacity: 70%;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 117px;
    padding-left: 60px;
}
.popular-recipes {
    width: 100%;
}
.popular-recipes h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
.popular-recipes .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
}
.recipe{
    cursor: pointer;
}
#receitas .recipe .left{
    margin-bottom: 20px;
}
.img-recipe {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}
.title-recipe {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    font-weight: 400;
}
.author-recipe {
    color: #777777;
    margin-bottom: 10px;

}
footer {
    background: #EEEEEE;
    margin: 0;
    width: 100%;
}
.copyrights {
    text-align: center;
    color: #999999;
    padding: 23px 0;
}

form .item select {
    width: 100%;

    padding: 8px 16px;

    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, 0.9);
    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
    
}

form .item select {
    /* permitir estilização no select */

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* trazer de volta o icone lateral */
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* ----- SOBRE ----- */

body#sobre {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

#sobre p {
    margin-bottom: 30px;
}
#sobre h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
#sobre h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
/* ----- RECEITAS ----- */

#receitas .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
}

/*----- RECEITA -----*/

.main-content section.show .img-recipe {
    object-fit: cover;
    width: 100%;
}
.main-content section.show .adjust-proportion{
    height: 280px;
}

body#manage-recipes .main-content section.show .title-recipe,
body#receita .main-content section.show .title-recipe {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 4px;
}

body#manage-recipes .main-content section.show .author-recipe,
body#receita .main-content section.show .author-recipe {
    text-align: center;
}
.main-content section.show .title{
    display: grid;
    grid-template-columns: auto auto 1fr 1fr 1fr;
    grid-column-gap: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: baseline ;
}
.ingridients-wrap .title h3{
    width: 136px;
}
.preparation-wrap .title h3{
    width: 190px;
}
.hints-wrap .title h3{
    width: 253px;
}

.main-content section.show .title h3{
    font-size: 24px;
    line-height: 28px;
}
.main-content section.show .wrapper .title .button{
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #999999;
    cursor: pointer;
    font-weight: 700;
}
.main-content section.show .hints-wrap p{
    white-space: normal;
}

body#receita ul, body#receita ol{
    padding-inline-start: 15px;
}

.hide{
    display: none;
}

.show{
    display: block;
}
/* ----- CHEFS ----- */


.main-content  section:not(.show) .chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
    margin-bottom: 50px;
}
 .main-content  section:not(.show) .chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
    align-items: center;
}
.main-content  section .chef img.chef-avatar{
    object-fit: cover;
    border-radius: 50%;
}

 .main-content  section:not(.show) .chef img.chef-avatar{
    width: 64px;
    height: 64px;
}

.main-content  section:not(.show) .chef-name{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 5px;
}
#chefs-admin .chef-name{
    margin-bottom: 10px;
}
.total-recipes{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #666666;
}
/* ----- CHEF details ----- */
#chef-details-header{
    margin-bottom: 50px;
}
.chef-details .chef-name{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 4px;
}
.chef-details .total-recipes{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #777777; 
}

/* ----- ADMIN ----- Manage Recipes - Index ----- */

.admin header {
    grid-template-columns: 1fr 940px 1fr;
    background-color: #111111;
    margin: 0;
    padding: 27px 0;
}
.admin header .header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    align-items: center;
}
.admin .logo img{
    filter: invert() grayscale(99);
}
.admin header .header .menu a{
    text-transform: uppercase;
    font-weight: 700;
    color: #999999;
    font-size: 15px;
    line-height: 18px;
}
.admin header .header .menu a:hover,
.admin header .header .menu a.active{
    color: #ffffff;
}
/*.admin{
    margin-top: 50px;
}*/
body#manage-recipes .main-content section:not(.show) .recipes,
body#manage-chefs .main-content  section .recipes,
body#receita .main-content  section:not(.show) .recipes,
body#chefs .main-content  section .recipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}
body:not(#manage-chefs, #receitas) .main-content section .recipes .recipe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    cursor: initial;
}
body#manage-chefs .main-content section .recipes .recipe,
body#manage-recipes .main-content section .recipes .recipe,
body#chefs .main-content section .recipes .recipe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    cursor: pointer;
    align-items: center;
}
 .main-content section:not(.show) .recipes .recipe .img-recipe {
    margin: 0;
}
 .main-content section:not(.show) .recipes .recipe .view-recipe{
    margin-top: 10px;
}
a.viewButton {
    color: var(--color-rocket);
    text-decoration: none;
    font-weight: 700;
}

/* ----- Admin - Manage Recipes/Chefs ----- */
#manage-recipes .main-content,
#manage-chefs .main-content{
    margin-top: 50px;
}
#manage-recipes .main-content > section > div.header,
#manage-chefs .main-content > section > div.header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
}
#manage-chefs .main-content > section.list div.list-chefs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;    
}
#manage-recipes .main-content > section > div.header{
    margin-bottom: 20px;
}
#manage-recipes .main-content > section.list > div.header{
    margin-bottom: 30px;
}
#manage-chefs .main-content > section > div.header{
    margin-bottom: 50px;    
}
#manage-chefs .main-content h1.page-title,
#chefs .main-content h1.page-title{
    font-size: 24px;
    text-align: left;
}
#chef-details-header{
    margin-bottom: 30px;
}
#manage-chefs .main-content section.show .chef,
#chefs .main-content section.show .chef{
    text-align: center;
}
#manage-chefs .main-content section.show .chef img.chef-avatar,
#chefs .main-content section.show .chef img.chef-avatar{
    width: 200px;
    height: 200px;
}
#manage-recipes .main-content .header h1.page-title{
    font-size: 24px;
    line-height: 37px;
    text-align: left;
}
button.button,
a.button {
    text-align: right;
    text-decoration: none;
    color: white;
    background-color: var(--color-rocket);
    border-radius: 4px;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    font-family: 'Roboto', sans-serif;
}
#manage-recipes section,
#manage-chefs section{
    position: relative;
}
#manage-recipes button.button{
    position: absolute;
    right: 0;
    margin-top: -67px;
    
}
#manage-chefs button.button{
    position: absolute;
    right: 0;
    margin-top: -87px;
    
}
#manage-chefs #form-delete button{
    right: 130px;
    background-color:#DC4747;  
}
.admin .recipe-details{
    margin-top: 20px;
}
#manage-recipes .item:not(:first-of-type){
    margin-top: 20px;
}
#manage-recipes form{
    line-height: 19px;
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}
#manage-chefs form{
    line-height: 19px;
    color: #111111;
    font-size: 16px;
    font-weight: 700;
}
input,
textarea,
select{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 15px 20px;
    margin: 10px 0;
    font-weight: 400;
}
#manage-recipes input::placeholder,
#manage-recipes textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #111111;
}
#manage-recipes button.add-ingredient,
#manage-recipes button.add-preparation-step{
    text-decoration: none;
    color: var(--color-rocket);
    background-color: white;
    border-radius: 4px;
    margin-top: 5px;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    font-family: 'Roboto', sans-serif;
}
#manage-recipes #form-delete button.button{
    right: 148.6px;
    background-color: #DC4747;
}


/* ----- PAGINATION -----*/

.pagination{
    margin: 50px 0;
    text-align: center;
}
.pagination a,
.pagination span{
    color: var(--color-rocket);
    text-decoration: none;
    margin-right:  16px;
}
.pagination a:hover{
    filter: brightness(0.3);
    border-bottom: 1px solid var(--color-rocket);
}


/* ----- search recipes ----- */
.search-title{
    margin-bottom: 20px;
}
.search-recipe{
    text-align: right;
}
#receitas input{
    width: 250px;
    padding: 8px 8px;
    margin-right: 8px;
}

/* chefs photos upload */
#manage-chefs form .item #photos-upload{
    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
}
#manage-chefs form .item #photos-upload p{
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--color-rocket);
    color: white;

    width: 200px;
    text-align: center;
    
    text-transform: uppercase;
    font-size: 14px;
}
#manage-chefs form .item #photos-input{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    cursor: pointer;
}
#manage-chefs form .item #photos-preview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0;
}

#manage-chefs form .item #photos-preview img{
    width: 100%;
    height: 158px;

    object-fit: cover;
}
#manage-chefs #photos-preview .photo{
    position: relative;
}

#manage-chefs #photos-preview .photo i{
    position: absolute;
    top: 0;
    left: 0;
    
    background: rgba(255,255,255,0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    opacity: 0;

    transition: opacity 200ms;
}
#manage-chefs #photos-preview .photo:hover i{
    opacity: 1;
}

/* receitas photos upload #manage-recipes */
#manage-recipes form .item{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
}
#manage-recipes form .gallery{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
#manage-recipes form .gallery #photos-upload{
    position: relative;
    display: block;

    overflow: hidden;

    width: 150px;
    height: 150px;

    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    

    margin: 10px 10px 10px 0;
    padding: 61px;
}
#manage-recipes form .gallery #photos-upload i{
    background-color:  white;
    color:#777777;

    width: 28px;
    height: 28px;
    text-align: center;

    margin:0;
    padding:0;
    
}
#manage-recipes form .item #photos-input{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: none;
    
    cursor: pointer;
}
#manage-recipes form .item #photos-preview{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0;
}

#manage-recipes form .item #photos-preview img{
    width: 150px;
    height: 150px;

    object-fit: cover;
}
#manage-recipes #photos-preview .photo{
    position: relative;
}

#manage-recipes #photos-preview .photo i{
    position: absolute;
    top: 0;
    left: 0;
    
    background: rgba(255,255,255,0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    opacity: 0;

    transition: opacity 200ms;
}
#manage-recipes #photos-preview .photo:hover i{
    opacity: 1;
}

