{% extends "layout_admin.njk" %}

{% block head %}
    <title>Adicionar Receita - Foodfy</title>
{% endblock %}

{% block bodyid %} id="manage-recipes" {% endblock %}

{% block content %}
    <div class="create header">
        <h1 class="page-title">Criando receita</h1>
    </div>
    <form class="card" method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <section class="create">
            
            {% include 'admin/recipes/fields.njk' %}
            
        </section>
    </form>
{% endblock content %}