<button type="submit" class="button">Salvar receita</button>
<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input 
            type="url" 
            name="image" 
            value="{{ recipe.image }}">
    </div>
</div>
<div class="item">
    <div>Nome da receita</div>
    <div>
        <input 
            type="text" 
            name="title" 
            value="{{ recipe.title }}">
    </div>
</div>
<div id="ingredients" class="item">
    <div>Ingredientes</div>
    {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}" />
        </div>
    {% endfor %} 
    {% if (recipe == null) %}
    <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}" />
    </div>   
    {% endif %}
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
<div id="preparations" class="item">
    <div>Modo de preparo</div>
    {% for step in recipe.preparation %}
        <div class="preparation">
            <input type="text" name="preparation[]" value="{{ step }}"/>
        </div>
    {% endfor %}
    {% if (recipe == null) %}
    <div class="preparation">
            <input type="text" name="preparation[]" value="{{ step }}"/>
    </div>
    {% endif %}
</div>
<button type="button" class="add-preparation-step">Adicionar novo passo</button>
<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="information" cols="30" rows="10" type="text">{{ recipe.information }}</textarea>
    </div>
</div>
<div class="item">
    <div>Chef</div>
    <div>
        <select name="chef" id="">
        {% for chef in chefsOptions %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
                {{ chef.name }}
            </option>
        {% endfor %}
        </select>
    </div>
</div>
