{% extends "layout.njk" %}

{% block head %}
    <title>Adicionar Produto - Launchstore</title>
{% endblock %}

{% block bodyid %} id="manage-product" {% endblock %}

{% block content %}
<section class="container form">
    <form class="card" method="POST" action="/products">

        <div class="create header">
            <h3 class="page-title">Cadastrar Produto {{productID}}</h1>
        </div>
        
        <div class="fields">
            {% include 'products/fields.njk' %}
        </div>     

        <button type="submit" class="button">Salvar</button> 
    </form>
</section>
{% endblock content %}