<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>   
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <body {% block bodyid %} id="home" {% endblock %}> 
        <div class="main">
            <header>
                <div class="logo">
                    <a href="/"><img src="/assets/logo.png" alt="Logo do Foodfy" class="logo-img"></a>
                </div>
                <div class="menu">
                    <a href="/site/about">Sobre</a>
                    <a href="/site/recipes">Receitas</a>
                    <a href="/site/chefs">Chefs</a>
                    <a href="/admin/chefs">Gerenciar</a>
                </div>
                <div class="search-recipe">
                    <form action="/site/recipes" method="get">
                        <input type="text" name="filter" placeholder="Buscar receita por nome ou ingrediente">
                    <button type="submit" class="button">Buscar</button>
                </div>
            </header>

                {% block content %}    

                {% endblock %}
            
        </div>
        <footer>
            <div class="copyrights">
                <p>Todos os direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>
    </body>
</html>