{% extends "layout.njk" %}

{% block head %}
    <title>Lista de Receitas - Foodfy</title>
{% endblock %}

{% block bodyid %} id="receitas" {% endblock %}

{% block content%}
    <section class="main-content list">
        <div class="search-title">
            <h1>Buscando por "{{filter}}"</h1>
        </div>
        <div class="recipes">
            {% for item in items %}
                <div class="recipe" id="{{item.id}}">
                    <div class="left">
                        <img src="{{item.image}}" alt="{{item.title}}" class="img-recipe">
                    </div>
                    <div class="rigth">
                        <h2 class="title-recipe">{{item.title}}</h2>
                        <p class="author-recipe">por {{item.chef_name}}</p>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </section>
    
    {% include 'pagination.njk' %}
    
    <script src="/scripts.js"></script>    

{% endblock %}