{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block bodyid %} id="receita" {% endblock %}

{% block content%}

    <section class="main-content">
        <div class="recipes">
            <div id="{{item.id}}" class="recipe">
                <img src="{{item.image}}" alt="{{item.title}}" class="img-recipe">
                
                <h2 class="title-recipe">{{item.title}}</h2>
                <p class="author-recipe">por {{item.author}}</p>
                
                <div class="ingridients-wrap">
                    <div class="title">
                        <h3>Ingredientes</h3>
                        <div class="button show">Esconder</div>
                    </div>
                    <ul class="ingredients">
                        {% for ingredient in item.ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="preparation-wrap">
                    <div class="title">
                        <h3>Modo de Preparo</h3>
                        <div class="button show">Esconder</div>
                    </div>
                    <ol class="preparation">
                        {% for step in item.preparation %}
                            <li>{{step}}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="hints-wrap">
                    <div class="title">
                        <h3>Informações adicionais</h3>
                        <div class="button show">Esconder</div>
                    </div>
                    <p class="hints">{{item.information}}</p>
                </div>
            </div>
        </div>
    </section> 
    <script src="/scripts.js"></script>
{% endblock %}